<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello From Html</title>
</head>
<body data-ng-app="notesApp">
  <main data-ng-controller="notesController" data-ng-init="getAll()">
    <h1>Notes:</h1>
    <form name="newNoteName">
      <label for="newNoteBody">New Note</label>
      <input type="text" id="newNoteBody" data-ng-model="newNote.noteBody">
      <button type="submit" data-ng-click="create(newNote)">Save New Note</button>
    </form>
    <ul data-ng-repeat="note in notes">
      <li>
        {{note.noteBody}}
        <form data-ng-if="note.editing">
          <label for="note{{note._id}}">Edit Note</label>
          <input type="text" id="note{{note._id}}" data-ng-model="note.noteBody">
          <button type="submit" data-ng-click="save(note)">Save Changes</button>
          <button type="button" data-ng-click="editToggle(note)">Cancel</button>
        </form>
        <button data-ng-click="editToggle(note)" data-ng-if="!note.editing">Edit Note</button>
        <button data-ng-click="remove(note)">Delete Note</button>
      </li>
    </ul>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
